VITE_KEYVAULT_SERVER=http://localhost:6251
# VITE_MULTIAUTH_SERVER=https://multi-auth-eight.vercel.app
VITE_NODE_ENV=development
VITE_SERVER_API=****************

# Auth Database URL (Supabase). App will use this value to connect to your database.
VITE_SUPABASE_URL="https://****************.supabase.co"
VITE_SUPABASE_ANON_KEY="sb_*************"