@import url('https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&family=Inter:wght@100..900&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

/* @tailwind base; */
@tailwind components;
@tailwind utilities;


.font-Raleway {
    font-family: "Raleway", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", serif;
}

* {
    scroll-behavior: smooth;
    letter-spacing: -.3px;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}